.sidebar {
    width: 156px;
    background: transparent;
    padding-top: 20px;
    padding-left: 20px;
}
.sidebarHeader {

}
.controls {
    height: 14px;
    width: 14px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px; 
}